:root {
    --text: #3E3E40;
    --white: #FFFFFF;
    --blue: #0F4A7B;
    --icon: #62BECB;
    --red: #EA5566;
    --gray: rgba(62, 62, 64, 0.5);
    --form: #F9FBFD;
    --hover: #089628;
    --title: #373737;
}